{% extends 'base.html.twig' %}

{% block title %}Fiche Stock Details{% endblock %}

{% block body %}
        <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Details</h1>
                    </div>
                    <div class="card-body">
                        <div id="print-area">
                            <h1> Details</h1>
                            <p>Date: {{ ficheStock.date|date('Y-m-d') }}</p>
                            <p>Quantité Entrée: {{ ficheStock.quantite_entree }}</p>
                            <p>Num Bon Entrée: {{ ficheStock.num_bon_entree }}</p>
                            <p>Quantité Sortie: {{ ficheStock.quantite_sortie }}</p>
                            <p>Machine Sortie: {{ ficheStock.machine_sortie }}</p>
                            <p>Solde: {{ ficheStock.solde }}</p>
                        </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" onclick="printDiv('print-area')">Print this page</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}